body {
    overflow: hidden;
    margin: 0;
}

.main {
    min-height: 100vh;
    min-width: 100vh;
    background: #FFAFBD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #ffc3a0, #FFAFBD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

button {
    cursor: pointer;
    min-width: 45px;
    min-height: 45px;
    width: 9vh;
    height: 9vh;
    border-radius: 50%;
    border: 1px solid red;
}

.floatingBottomRow{
    min-width: 160px;
    width: 35vh;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 4vh;
    align-self: center;
}

.video{
    transform: scaleX(-1);
}

.videoGrid
{
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    overflow: hidden;
}