body {
    min-height: 100vh;
    min-width: 100vh;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

h1 {
    text-align: center;
}

.videoGrid
{
    display: flex;
    overflow: auto;
    flex-wrap: wrap;
    background-color: yellow;
}